{% extends 'full.tpl'%}

{% block html_head  %}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<style>
  body, #notebook-container {
    background: #212121;
    box-shadow: none;
    font-family: 'Roboto', 'Noto', sans-serif;
    line-height: 1.4;
    font-weight: 400;
    font-size: 14px;
  }

  a, a:hover {
    color: #42a5f5;
  }

  blockquote {
    border-left: 5px solid #a1a1a1;
  }
  
  .text_cell_render  {
    color: #d5d5d5 !important;
  }

  .text_cell > .prompt {
    min-width: 1em;
  }

  .output_text > pre {
    color: #d5d5d5 !important;
  }

  .input_area, .highlight, code {
    border: none !important;
    background: transparent !important;
  }

  .highlight > pre {
    color: #d5d5d5 !important;
    background: transparent !important;
  }

  code {
    color: #d5d5d5 !important;
  }

  pre {
    background: transparent !important;
  }

  pre > .c1 {
    color: #6aa94f !important;
    font-style: normal !important;
  }

  pre > .mi {
    color: #b5cea8 !important;
  }

  pre > .o, pre > .nn {
    color: #d5d5d5 !important;
  }

  pre > .nb, pre > .nf {
    color: #dcdcaa !important;
  }

  pre > .s1, pre > .sd {
    color: #ce9178 !important;
  }

  pre > .k, pre > .kn {
    color: #c586c0 !important;
  }

  pre > .ow {
    color: #82c6ff !important;
  }
</style>
{% endblock html_head %}

{% block body %}
<div style="background: #212121">
  {{ super() }}
</div>
{% endblock body %}


{% block any_cell  %}
<div style="background: #383838; padding: .2em;">
  {{ super() }}
</div>
{% endblock any_cell  %}

{% block input_group  %}
<div style="background: #212121; padding: 1em; margin: 0 1em;">
  {{ super() }}
</div>
{% endblock input_group  %}


{% block in_prompt %}
<div style="margin-right: .7em">
    {%if cell.execution_count %}
      <span style="color: #d5d5d5 !important;">[&nbsp;{{ cell.execution_count }}&nbsp;]</span>
    {% else %}
      <span style="color: #d5d5d5 !important;">[&nbsp;&nbsp;&nbsp;]</span>
    {% endif %}
</div>
{% endblock in_prompt %}


{% block output_area_prompt %}
<div style="min-width: 3em;"></div>
{% endblock output_area_prompt %}


{% block execute_result %}
<div style="background: #383838; width: 100%">
  {{ super() }}
</div>
{% endblock execute_result %}
